* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



/*header*/

.header-upside {
    display: flex;
    justify-content: space-between;
    margin: 51px 91px 24px 93px;
    align-items :center;
}


.function-btn .language button {
    justify-content: center;
    width: 35px;
    height: 35px;
    background: rgba(38, 87, 108, 0.75);
    border-radius: 4px;
    border: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.language {
    display: flex;
    justify-content: space-between;

}
.login {
    margin-top: 9px;
}

.function-btn .login button {
    background: rgba(38, 87, 108, 0.75);
    border-radius: 4px;
    width: 163px;
    height: 35px;
    border: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.header-middleside {
    display: flex;
    background: rgba(38, 87, 108, 0.3);
    border-radius: 50px;
    width: 738px;
    height: 63px;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}
.search-btn ,
.search-bar {
    background-color:transparent;
    border: 0;
}
.search-btn {
    margin-left: 25px;
}

.search span  {
    margin: auto;
    padding: 10px;
    height: 2.5em;
    border-right: 1px #26576C solid;
}
.search-bar {
    margin-left: 20px;
    margin-right: 6px;
    
    height: 3em;
}
.search-bar:focus {
    color: #26576C;
}

.fa-search{
    color: #26576C;
}


/*HEADER-NAV*/

.header-navside {
    margin: 10px 118px;
    
}

.header-navside nav {
    background-color: rgba(38, 87, 108, 0.3);
    border-radius: 15px;
}

.header-navside ul{
    display: flex;
    justify-content: space-between;
}

.header-navside nav li{
    display: flex;
    height: 58px;
    width: 254px;
    justify-content: center;
    align-items: center;
}
nav a{
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
}
nav > ul {
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0; 
}
nav li:hover {
    background-color: rgba(38, 87, 108, 0.75);
    border-radius: 15px;
    color: white;
}


/*body*/

.music,.sport{
    margin-top: 58px;
}
.content {
    margin:auto 91px;
}
.column {
    margin-top: 65px;
    display: flex;
}


 .imgs img {
     width: 500px;
     height: 200px;
     margin-right: 28px;
 }

 .music-header {
     display: flex;
     justify-content: space-between;
     margin-bottom: 58px;
 }

.music-header .text{
    width: 344px;
    height: 66px;
    background: #2F586F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin: 12px auto ;
    color: #FFFFFF;
}

.button .btn-1 , 
.button .btn-2 {
    width: 163px;
    height: 42px;
    background: rgba(38, 87, 108, 0.75);
    border-radius: 3px;
    border-color: transparent;
}
.button label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    color: #FFFFFF;

}

.sport-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}

.sport-header .text{
   width: 344px;
   height: 66px;
   background: #2F586F;
   border-radius: 4px;
   display: flex;
   justify-content: center;
}

.column p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight:500;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    color: #26576C;

}

.sport{
    margin-bottom: 71px;
}



/* FOOTER */


.footer-upside {
    background: rgba(38, 87, 108, 0.75);
    display: flex;
    align-items: center;
}
.footer-img img{
    margin-left: 100px;
    width: 200%;
    height: 200%;
}

.footer-upside p{
    margin-left:91px ;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;

}


.footer-downside{
    
    
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    background-color: #26576C;
}
.footer-downside p {
    margin-left:91px ;
}